<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      ScaleIT App User Page
    </ion-card-header>
    <ion-card-content>

      <div>
        <button ion-button icon-left *ngFor="let item of hoomans" ngDraggable
                (stopped)="saveStyle($event, item)" [ngStyle]="getStyle(item)">
          <ion-icon name="aperture"></ion-icon> {{item}}
        </button>
      </div>
      <div>
        <button ion-button icon-left *ngFor="let item of ais" ngDraggable>
          <ion-icon name="aperture"></ion-icon> {{item}}
        </button>
      </div>
    </ion-card-content>
    <ion-card-content style="height:50vh;">
    </ion-card-content>
  </ion-card>
  The world is your oyster.
  <p>
    If you get lost, the
    <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>
</ion-content>

<ion-footer style=" background-color: lightgray; text-align: center; justify-content: center; align-items: center;">
  <app-footer></app-footer>
</ion-footer>
