<ion-header>
  <ion-navbar class="bar-positive">
    <ion-title>
      <img src="assets/logo.png" alt="Company Logo" style="height:30px; filter: brightness(0) invert(1);">
      <font color="white"> ScaleIT Ionic Node.js Sample Application </font>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="person"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
