<!-- Generated template for the AppMenuComponent component -->
<ion-menu  side="right" persistent="true" [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title >Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item [navPush]="'admin'">
        Admin
        <ion-icon item-start name="ios-construct"></ion-icon>
      </button>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #content swipeBackEnabled="false" ></ion-nav>
